.item-frame {
    display: flex;
    flex-direction: row;
    gap: 0.1rem;
    flex-wrap: nowrap;
    margin: 2rem;
    justify-content: space-around;
    margin-top: 10rem;
}

.item-head {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.not-accepted-buttons {
    display: flex;
    gap: 0.1rem;
    margin: 2rem;
    margin-top: 10rem;
    align-content: stretch;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}