.login-header {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.form-frame {
    display: flex;
    justify-content: center;
}

.login-view {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}