/* Make frame for registration form */
.form-frame { 
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

/* Make header for registration form */
.register-header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.register-header img {
    width: 10rem;
}

.post-header {
    align-items: center;
    margin-top: 2rem;
    margin-bottom: -1rem;
}

.post-form {
    width: 45rem;
}