/* Add gap to the original model */
.justify-content-end {
    gap: 1rem;
}

.home-frame {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin: 2rem;
}

.items-frame {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2rem;
}

.items-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
}

.d-flex {
    width: 35rem;
}